<div class="row">
  <div class="container col-md-12">
    <div class="card">
      <div class="card-header cus-font">
        Product List
      </div>
      <div class="card-body" id="product_card">
      <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline', id: 'sort_form' } do |f| %>
         <div class="row">
            <div class="col-sm-12 mb-3">
              <div class="form-group"> 
                <label for="search_words" class="col-sm-2 control-label">Sort By:</label> 
                <div class="col-md-10 mb-3">
                  <%= select_tag "sort_by", options_for_select([ "Relevance", "Newest", "Lowest Price", "Highest Price" ], params[:sort_by]), :class=>"form-control cus-form-font" %>
                </div>
              </div>
            </div>
          </div>  
        <% end %>
        <div id="updated_by_ajax">
        <div class="row">
          <% @products.each_with_index do |product,index| %>
            <div class="col-md-4">
              <div class="card border-secondary mb-3 cus-cont-box">
                <div class="card-body text-secondary cus-cont-scroll">
                  <div class="col-md-12 mb-3">
                    <%= button_to product_path(:id => product.id), method: "get", remote: true do %>
                      <%= image_tag "product_pics/#{rand(15)}.jpg", class: "product_image" %>
                    <% end %>
                  </div>
                  <label class="col-md-3 control-label">Price:</label>
                  <div class="col-md-9 mb-3">
                    <%= number_to_currency(product.price, :unit => "$", precision: 2) %>
                  </div>
                  <label class="col-md-3 control-label">Name:</label>
                  <div class="col-md-9 mb-3">
                    <%= product.title %>
                  </div>
                  <label class="col-md-3 control-label">Tags:</label>
                  <div class="col-md-9 mb-3">
                    <%= product.tags.present?? product.tags.pluck(:name).map(&:inspect).join(', ').gsub(/[""]/, "") : "" %>
                    <%= product.updated_at %>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="modal-window" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">Loading...</div>
          <% end %>
        </div>
        </div>
        <%= paginate @products %>
      </div>
    </div>
  </div>
</div>
</br>