<div class="row">
  <div class="container col-md-12">
    <div class="card">
      <div class="card-header cus-font">
        Product List
      </div>
      </br>
      <span style="color: red; font-size: 12px; margin-left: 13px;">*** images are randomly displayed, please don't regard them!</span>
      <div class="card-body" id="product_card">
        <div class="row">
          <% @products.each_with_index do |product,index| %>
            <div class="col-md-4">
              <div class="card border-secondary mb-3 cus-cont-box">
                <div class="card-body text-secondary cus-cont-scroll">
                  <div class="col-md-12 mb-3">
                    <%= button_to product_path(:id => product.id), method: "get", remote: true do %>
                      <%= image_tag "product_pics/#{rand(8)}.jpg", class: "product_image" %>
                    <% end %>
                  </div>
                  <label class="col-md-3 control-label">Price:</label>
                  <div class="col-md-9 mb-3">
                    <%= number_to_currency(product.price, :unit => "$", precision: 2) %>
                  </div>
                  <label class="col-md-3 control-label">Title:</label>
                  <div class="col-md-9 mb-3">
                    <%= product.title %>
                  </div>
                  <label class="col-md-3 control-label">Tags:</label>
                  <div class="col-md-9 mb-3">
                    <%= product.tags.present?? product.tags.pluck(:name).map(&:inspect).join(', ').gsub(/[""]/, "") : "" %>
                  </div>
                </div>
              </div>
            </div>
            <script>
              $(function(){
                var priceCompare = $('#price_compare').val();
                displayPrice(priceCompare);                
              });
            </script>
            <div class="modal fade" id="modal-window" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">Loading...</div>
          <% end %>
        </div>
        <%= will_paginate @products, :params => {:action=>"index", :controller=>"products"} %>
      </div>
    </div>
  </div>
</div>
</br>