<div class="row">
  <div class="container col-md-11 cus-margin">
    <div class="card">
      <div class="card-header cus-font">
        Product Search
      </div>
      <div class="card-body">
    <div class="row">
      <div class="state_search">
        <%= search_form_for @q, :url => products_path, :class=>"form-horizontal" do |f| %>            
          <div class="col-sm-12">
            <div class="form-group"> 
              <label for="search_words" class="col-sm-2 control-label">Title</label> 
              <div class="col-md-10 mb-3">
                <%= f.search_field :title_cont, :class=>"form-control cus-form-font", :autocomplete => "off" %>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group"> 
              <label for="search_words" class="col-sm-2 control-label">Description</label> 
              <div class="col-md-10 mb-3">
                <%= f.search_field :description_cont, :class=>"form-control cus-form-font", :autocomplete => "off" %>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group"> 
              <label for="search_words" class="col-sm-2 control-label">Tags</label> 
              <div class="col-md-10 mb-3">
                <%= f.search_field :tags_name_cont, :class=>"form-control cus-form-font", :autocomplete => "off" %>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group"> 
              <label for="search_words" class="col-sm-2 control-label">Country</label> 
              <div class="col-md-10 mb-3">
                <%= f.select :country_cont, options_for_select(Product.distinct.pluck(:country)), {}, :class=>"form-control cus-form-font" %>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group"> 
              <label for="search_words" class="col-sm-2 control-label">Price</label> 
              <div class="col-md-5 mb-3">
                <%= select_tag "price_compare", options_for_select([ "Cheaper than", "Exactly that", "Expensive than" ], params[:price_compare]), :class=>"form-control cus-form-font" %>
              </div>
              <div id="price_less">
                <div class="col-md-5 mb-3">
                  <%= f.number_field :price_lt, precision: 8, step: ".01", class: "form-control cus-form-font d-none" %>
                </div>
              </div>
              <div id="price_exact">
                <div class="col-md-5 mb-3">
                  <%= f.number_field :price_eq, precision: 8, step: ".01", class: "form-control cus-form-font d-none" %>
                </div>
              </div>
              <div id="price_expensive">
                <div class="col-md-5 mb-3">
                  <%= f.number_field :price_gt, precision: 8, step: ".01", class: "form-control cus-form-font d-none" %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group"> 
              <label for="search_words" class="col-sm-2 control-label"></label> 
              <div class="col-md-10 mb-3">
                <%= f.submit value: "Search", id: "product_search_btn", class: "btn btn-primary btn-outline", commit: nil %>
              </div>
            </div>
          </div>
        <% end %>
      </div><!-- /.col --> 
    </div><!-- /.row --> 
  </div><!-- /.ibox-conrtent -->